include components/textfield/textfield.pug
include components/textfield/subscription-textfield.pug
include components/dropdown/__inner/dropdown__inner.pug
include components/dropdown/dropdown-calendar2.pug
include components/dropdown/dropdown.pug
include components/expandable-checkbox-list/expandable-checkbox-list.pug
include components/rich-checkbox-buttons/rich-checkbox-buttons.pug
include components/checkbox-button-list/checkbox-button-list.pug
include components/radio-button-list/radio-button-list.pug
include components/toggle/toggle.pug
include components/like-button/like-button.pug
include components/rate-button/rate-button.pug
include components/range-slider/range-slider.pug
include components/button/button.pug
include components/pagination/pagination.pug
include components/bullet-list/bullet-list.pug
include components/big-point/big-point.pug
include components/guest-response/guest-response.pug

doctype html
head
  meta(charset='UTF-8')
  title Form Elemenets

body
  .wrapper1
    div
      +textfield('text field', 'Email', null, true)
      .dropdown-local-wrapper
        +dropdown('dropdown', 'Сколько гостей', 'dropdown__inner_guests')
      .dropdown-local-wrapper
        +dropdown('dropdown', 'Какие удобства', 'dropdown__inner_facilities')
      +textfield('text field', 'ДД.ММ.ГГГГ', '99.99.9999')
      .dropdown-local-wrapper
        +dropdown('date dropdown', 'ДД.ММ.ГГГГ', 'dropdown__inner_calendar')
      .dropdown-local-wrapper
        +dropdown-calendar2('filter date dropdown', 'начало - конец')
      div(style="width: 267px; margin-top: 10px;")
        label.text_field_label= 'Subscription text field'
        br
        +subscription-textfield()
      div(style="width: 267px; margin-top: 10px;")
        +expandable-checkbox-list([
          {value: 'Завтрак', checked: false},
          {value: 'Письменный стол', checked: true},
          {value: 'Стул для кормления', checked: true},
          {value: 'Кроватка', checked: true},
          {value: 'Телевизор', checked: false},
          {value: 'Шампунь', checked: false}
        ])
    div
      div(style="width: 267px; margin-top: 10px;")
        +checkbox-button-list([
          {value: 'Можно курить', checked: false},
          {value: 'Можно с питомцами', checked: true},
          {value: 'Можно пригласить гостей (до 10 человек)', checked: true}
        ])
      div(style="width: 217px; margin-top: 10px;")
        +radio-button-list('radio buttons', [
          {value: 'Мужчина', checked: true},
          {value: 'Женщина', checked: false},
        ])
      div(style="width: 267px; margin-top: 10px;")
        label.toggle-button-list__title(style="margin-top: 10px;")= 'toggle'
        br
        div
          +toggle('Получать спецпредложения', true)
        div
          +toggle('Получать спецпредложения', false)
      div(style="width: 267px; margin-top: 10px;")
        label.like-button-list__title(style="margin-top: 10px;")= 'like button'
        br
        +like-button(2, false)
        +like-button(12, true)
      div(style="width: 267px; margin-top: 10px;")
        label.like-button-list__title(style="margin-top: 10px;")= 'rate button'
        br
        div(style="margin-top: 10px;")
          +rate-button(4, 5)
          +rate-button(5, 5)
      div(style="width: 267px; margin-top: 10px;")
        +rich-checkbox-buttons('rich checkbox buttons', [
          {title: 'Широкий коридор', description: 'Ширина коридоров в номере не менее 91 см.', checked: false},
          {title: 'Помощник для инвалидов', description: 'На 1 этаже вас встретит специалист и проводит до номера.', checked: false},
        ])
    div
      div(style="width: 200px;")
        +range-slider('range slider', 0, 15000, 5000, 10000)
      div(style="width: 205px; margin-top: 10px;")
        label.like-button-list__title(style="margin-top: 10px;")= 'buttons'
        br
        br
        +button1('click me')
        br
        br
        br
        +button2('click me')
        br
        br
        br
        +button3('click me')
        br
        br
        +button4('перейти к оплате')
      div(style="width: 265px; margin-top: 10px;")
        label.like-button-list__title(style="margin-top: 10px;")= 'pagination'
        br
        br
        +pagination(15, 1, 1, 12)
      div(style="width: 265px; margin-top: 10px;")
        +bullet-list('bullet list', ['Нельзя с питомцами',
                                     'Без вечеринок и мероприятий',
                                     'Время прибытия — после 13:00, а выезд до 12:00'])
  .wrapper2
    div
      div(style="width: 265px; margin-top: 30px;")
        +big-point('Комфорт', 'Шумопоглощающие стены', 'big-smile.svg')
      div(style="width: 265px; margin-top: 40px;")
        +big-point('Удобство', 'Окно в каждой из спален', 'big-building.svg')
    div
      +guest-response('Мурад Сарафанов',
                      '5 дней назад',
                      'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.',
                      12, true)